/* li{
    margin-right: 50px;
} */

.navbar-light .navbar-nav .nav-link.active.text-secondarys {
  font-weight: bold;
  color: red !important;
}
.text-secondary {
  color: green;
}

Nav {
  position: fixed !important;
  width: 100%;
  z-index: 1;
  /* height: inherit; */
}
